    <!-- jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- external JS file -->
    <script src="index.js"></script>

    <footer>
        <h5>&copy; Simon, 2021</h5>
    </footer>
</body>
</html>